.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 40px 
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}