.app {
    display: flex;
    flex-direction: row;
}

.post__container {
    display: flex;
    flex-direction: column;
}

.post__button {
    position: sticky;
    text-align: right;
    bottom: 0;
    z-index: 3;
    padding: 10px;
}

.button {
    background-color: '#fc644';
    border-radius: 50%;
}

.modal__body {
    display: flex;
    justify-content: center;
}

.post__form {
    display: flex;
    flex-direction: column;
}

.post__input {
    margin-top: 10px;
    width: 150%;
}

.url__type {
    margin-top: 10px;
    background: lightgray;
}